.DS_Store
.vscode/
.idea/

# Node modules
node_modules/
**/node_modules/

# Environment files
.env
.env.*

# Outputs and logs
output.json
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / coverage
dist/
build/
coverage/

# Misc
*.sqlite
*.db
